[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
django-cors-headers = "*"
drf-yasg = "*"
django-rest-framework = "*"

[requires]
python_version = "3.8"
